<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question 1</title>
</head>
<body>
   
    {% for msg in get_flashed_messages() %}
        <p>{{msg}}</p>
    {% endfor %}

    <form action="/answers" method="POST">
        <p>Question: {{question}}</p>

        {% for choice in choices %}
        <p>
            <input type="radio" name="choice" value={{choice}}>
            {{choice}}
        </p>
        {% endfor %}
        
        <p>Responses: {{responses}}</p>
        <button>Next</button>
    </form>

</body>
</html>